*{
    margin: 0;
    padding: 0;
  }
  /* CSS中定义全局变量 */
  :root{
    --bgcolor: rgb(38, 37, 41);
    --clockheight: 220px;
    --radius: 30px;
    --rotationtime:0.55s
  }
  /* 并排放置三个带边框的框 */
  html{
    box-sizing: border-box;
  }
  
  body{
    /* 弹性布局 */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* vh相对于屏幕大小来定高 */
    height: 100vh;
    background-color: var(--bgcolor);
    color: #fff;
    font-family: sans-serif serif;
  }
  .clock{
    display: grid;/*比display:flex功能强大*/
    padding: 0 12px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    min-width: 200px;
    height: var(--clockheight);
    border-radius: var(--radius);
    box-shadow: inset 0 -3px 6px 3px rgba(0, 0, 0, 0.2),
                inset 0 4px 8px 3px rgba(0, 0, 0, 0.4),
                0 2px 3px 1px rgba(255, 255, 255, 0.3),
                0 -2px 4px 4px rgba(56, 56, 61, 0.5);
  }
  
  .flipper{
    position: relative;
    width: 100%;
    min-width: 150px;
    /* box-sizing: border-box; */
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1600px;
  }
  .gear{
    position: absolute;
    top: calc(var(--clockheight) / 3);
    width: 12px;
    height: calc(var(--clockheight) / 3);
    background: linear-gradient(
      to bottom,
      #000000 0%,
      #666666 17%,
      #7f7f7f 52%,
      #7f7f7f 52%,
      #0c0c0c 53%,
      #595959 87%,
      #131313 100%
    );
    outline: 3px solid #000;
    z-index: 99;
    transform-style: preserve-3d;
    /* 往外移出10px */
    transform: translateZ(10px);
    perspective: 0;
  }
  .gear:nth-child(2) {
    left: calc(100% - 12px);
  }
  .top, .bottom{
    box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.5),
                0 2px 2px 1px rgba(255, 255, 255, 0.15);
    border-top: 2px solid rgb(102, 103, 110);
    border-bottom: 2px solid #000;
  }
  
  .top{
    position: relative;
    width: 100%;
    height: calc(50% - 15px);
    background-image: linear-gradient(rgb(48, 49, 53) 0%, rgb(56, 57, 62) 100%);
    margin: 10px 0 5px 0;
    border-top-left-radius: calc(var(--radius) * 0.65);
    border-top-right-radius: calc(var(--radius) * 0.65);
  }
  .bottom{
    position: relative;
    width: 100%;
    height: calc(50% - 15px);
    background-image: linear-gradient(rgb(56, 57, 62) 0%,rgb(65, 65, 71) 100%);
    margin: 5px 0 10px 0;
    /* margin-top: 5px;
    margin-bottom: 10px; */
    border-bottom-left-radius: calc(var(--radius) * 0.65);
    border-bottom-right-radius: calc(var(--radius) * 0.65);
  }
  .text{
    font-size: 100px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 193px;
    overflow: hidden;
  }
  .bottom .text{
    line-height: 0;
  }
  
  .top.new,
  .bottom.new{
    position: absolute;
    left: 0;
    z-index: 12;
  }
  .top.new{
    top: 0;
    z-index: 1;
  }
  .flipper.flipping .top.new{
    animation: rotate var(--rotationtime) 1 ease-in-out forwards;
    transform-origin: center bottom;
  }
  
  .top.new .text{
    backface-visibility: hidden;
    /* z-index: 50; */
  }
  .bottom.new{
    position: absolute;
    top: 0;
    height: calc(100% - 0px);
    transform: rotateX(0.5turn);
    z-index: 1;
    /* 全透明 */
    opacity: 0;
  }
  .flipper.flipping .bottom.new{
    animation: rotatebottom var(--rotationtime) 1 ease-in-out forwards;
  }
  /* .bottom.new .text{
    transform: rotateX(-180deg);
  } */
  @keyframes rotatebottom{
    0% {
      opacity: 0;
    }
  
    49% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
   @keyframes rotate {
    0% {
      /* rotate默认是Z轴 */
      transform: rotateX(0deg) translateY(0px);
      
    }
    100% {
      transform: rotateX(-180deg) translateY(-10px);
    }
  } 